{% extends 'base-template.html' %}
{% load static %}

{% block 'title' %}Edit Profile{% endblock %}

{% block 'content' %}

<div class="edit-profile-container">
  <h1>Edit Profile {{ user.username }}</h1>

  <form action="{% url 'accounts:change-profile' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-primary">
      <a href="{% url 'accounts:profile' %}" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>

{% endblock %}
