{% extends 'base-template.html' %}
{% load static %}

{% block 'content' %}
<div class="developer-details-wrapper">
  <div class="developer-details">
    <div class="developer-info">
      <h1>{{ developer.name }}</h1>
      <hr>
      {% if developer.image %}
      <img src="{{ developer.image.url }}" alt="Man Image" class="developer-image">
      {% endif %}
      <p class="developer-bio">{{ developer.biography }}</p>
    </div>
    <div class="developer-actions">
      {% if perms.cv.change_cv %}
      <h2>Edit Developer Information</h2>
      <a href="{% url 'twomodels:edit-developer' developer.pk %}">Edit developer</a>
      {% endif %}

      {% if developer.phone_number or developer.website_url %}
      <h2>Contact</h2>
      {% if developer.phone_number %}
      <p>Phone: {{ developer.phone_number }}</p>
      {% endif %}
      {% if developer.website_url %}
      <p>Website: <a href="{{ developer.website_url }}">{{ developer.website_url }}</a></p>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
