{% extends 'base-template.html' %}
{% load static %}






{% block 'content' %}

    <section class="about-us">
        <h1>ABOUT ME</h1>
        <hr>
        <div class="row">
            <div class="about-col">
                <h2>Hi, I am Dani a Web-Developer.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, 
                    ipsum temporibus non repellendus voluptates sunt deserunt aliquam e
                    xplicabo provident quo! Cum laudantium non, neque commodi odit a
                    lias consequatur facilis fuga?</p>
                <!-- <a href="#" id="skills-btn" class="hero-btn">Discover My Skills</a> -->
                <h2>My Skills In Development</h2>
                <br>
                <ul >
                    <li>Development
                      <ul>
                        <li>Python (Django, Flask)</li>
                        <li>JavaScript (React, Node.js)</li>
                        <li>HTML/CSS</li>
                      </ul>
                    </li>
                    <li>Design
                      <ul>
                        <li>UI/UX Design</li>
                        <li>Graphic Design</li>
                      </ul>
                    </li>
                </ul>


                <!-- <div class="blog-right">
                    <h3>Front-End</h3>
                    <div>
                        <span>Theology</span>
                        <span>26</span>
                    </div>
    
                    
    
                    <div>
                        <span>Journalism</span>
                        <span>22</span>
                    </div>
                    <h3>Back-End</h3>
    
                    <div>
                        <span>Commerce</span>
                        <span>28</span>
                    </div>
    
                    <div>
                        <span>Electromecanics</span>
                        <span>29</span>
                    </div>
    
                    
                    
                </div> -->


           <h2>Education</h2>
           <br>
           <h4>2024: Bachelor in computer engineering</h4>
           <p>Christian Bilingual University Of Congo, UCBC</p>

           <h4>2018: Diploma in Mathematics and Physics</h4>
           <p>Kambali Institute, INKA</p>

           <h4>2012: Primary certificate</h4>
           <p>E.P NYUKI</p>

            </div>

            <div class="about-col">

                <img src="{% static 'pages/img/Dani_Portrait.jpg' %} " alt="my-own-picture">

            </div>
        </div>

    </section>

    
{% endblock %}
