{% extends 'base-template.html' %}
{% load static %}


{% block 'content' %}

    <section class="header">
        
        <div class="text-box">
            <h1>KARIBU! WELCOME! BIENVENU!</h1>
            <hr>
        </div>
        <br>
        <div class="links-log">
            <a href="{% url 'login' %}" class="hero-btn">LOGIN</a>
            <a href="{% url 'accounts:create' %}" class="hero-btn">SIGN UP</a>
        </div>
       
        
        
    </section>
    <section class="div-image-developer">
        <div class="img-div"><img src="{% static 'pages/img/dani.jpg' %} " alt="" ></div>
    </section>

    <!-- {% if user_profile.profile_picture %}
        <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;">
    {% endif %} -->

    
     

     <section class="header">
        

        <div class="text-box">
           
                
            
            
            <p><strong>Dani Hangi</strong><br>Student in Computer Engineering department and Teacher Assistant in L0 FTSI. <br> Currently learning computer engineering at Christian Bilingual University Of Congo in Beni Town, DRC. <br><br> <a href="#">Learn more about my studies at UCBC.</a></p>
        </div>
            
        
    </section>
    

    <section class="cta">
        
        <h1>My Curicculum Vitae In PDF Format</h1>
       
        <br>
        <br>
        <br>
        <a href="{% url 'cv:cv_list' %}" class="hero-btn">-- TO MY CV --</a>
        
    </section>

{% endblock %}


 